.options {
  float: right;
  text-align: center;
}

.options span {
  /*display: block;*/
  font-size: 1.2em;
}

.options span.follow {
  font-size: 2em;
  /*margin-top: .4em;*/
}

.follow {
  cursor: pointer;
}

.follow:hover {
  color: #f0ad4e;
}

.following {
  color: #f0ad4e;
}

.profile {
  margin-top: 1em;
}

.user-profile .picture {
  width: 200px;
  border-radius: 5px;
}

.user-profile ul {
  padding: 0;
  margin-top: .6em;
}

.user-profile ul li {
  list-style: none;
}
